* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: hsl(27, 66%, 92%);
	font-family: 'DM Sans', sans-serif;
}

.card-balance, .card-summary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30rem;
	padding: 1.6rem;
	border-radius: 1rem;
	
}

.card-balance {
    position: relative;
    height: 7.5rem;
	margin-bottom: 1.5rem;
    background-color: hsl(10, 79%, 65%);
	color: hsl(33, 100%, 98%);
	font-size: 18px;
}



.card-summary {
    height: 30rem;
	background-color: hsl(33, 100%, 98%);
}

.balance-total, .headline {
	font-size: 2rem;
	font-weight: 700;
}


.diagrams {
    display: flex;
    height: 10rem;
}
.chart {
    width: 10%;
    height: 100%;
}



.logo {
	position: absolute;
	right: 1.6rem;
	top: 50%;
	transform: translateY(-50%);
}







footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}